# AWS Variables
variable "master_ip" {
  description = "Number of EC2 instances to create"
  type        = string
}

variable "cluster_name" {
  description = "The cluster name for all nodes"
  type        = string
}

variable "security_group_id" {
  description = "The created security group"
  type        = string
}


provider "aws" {
  region = "{{ aws_region }}"
}

{% if k3s_role == "master" %}
resource "random_string" "cluster_name" {
  length  = 6
  special = false
  upper   = false
}

locals {
  cluster_name = "swarmchestrate-${random_string.cluster_name.result}"
}
# Master node
resource "aws_instance" "k3s_master" {
  ami           = "{{ ami }}"
  instance_type = "{{ instance_type }}"
  key_name      = "{{ ssh_key_name }}"

  vpc_security_group_ids = [aws_security_group.k3s_security_group.id]

  user_data = templatefile("user_data.sh.tpl", {
    k3s_token = "{{ k3s_token }}"
  })

  tags = {
    Name = "K3s-Master-Node-${local.cluster_name}"
    ClusterName = local.cluster_name
  }
}

output "security_group_id" {
  description = "The security group ID"
  value       = aws_security_group.k3s_security_group.id
}

output "cluster_name" {
  description = "The unique cluster name"
  value       = local.cluster_name
}

output "master_ip" {
  description = "The public IP of the master node"
  value       = aws_instance.k3s_master.public_ip
}
{% endif %}

{% if k3s_role == "ha" %}
# HA nodes
resource "aws_instance" "k3s_ha_servers" {
  count         = {{ aws_ha_server_count }}
  ami           = "{{ ami }}"
  instance_type = "{{ instance_type }}"
  key_name      = "{{ ssh_key_name }}"

  vpc_security_group_ids = [var.security_group_id]

  user_data = templatefile("user_data.sh.tpl", {
    k3s_token = "{{ k3s_token }}",
    master_ip = var.master_ip
  })

  tags = {
    Name = "K3s-HA-Server-${var.cluster_name}-${count.index + 1}"
    ClusterName = var.cluster_name
  }
}
{% endif %}

{% if k3s_role == "worker" %}
# Worker nodes (agents)
resource "aws_instance" "k3s_workers" {
  count         = "{{ aws_worker_count }}"
  ami           = "{{ ami }}"
  instance_type = "{{ instance_type }}"
  key_name      = "{{ ssh_key_name }}"


  vpc_security_group_ids = [var.security_group_id]
  
  user_data = templatefile("user_data.sh.tpl", {
    k3s_token = "{{ k3s_token }}",
    master_ip = var.master_ip
  })

  tags = {
    Name = "K3s-Worker-Node--${var.cluster_name}-${count.index + 1}"
    ClusterName = var.cluster_name
  }
}
{% endif %}
