resource "random_string" "cluster_name" {
  length  = 6
  special = false
  upper   = false
}

provider "aws" {
  region = "{{ aws_region }}"
}

locals {
  cluster_name = "swarmchestrate-${random_string.cluster_name.result}"
}

# Master node
resource "aws_instance" "k3s_master" {
  ami           = "{{ ami }}"  
  instance_type = "{{ instance_type }}"
  key_name      = "{{ ssh_key_name }}"

  vpc_security_group_ids = [aws_security_group.k3s_security_group.id]

  user_data = templatefile("../templates/user_data_master.sh.tpl", {
    k3s_token = "{{ k3s_token }}"
  })

  tags = {
    Name = "K3s-Master-Node-${local.cluster_name}"
    ClusterName = local.cluster_name
  }
}

# HA nodes
resource "aws_instance" "k3s_ha_servers" {
  count         = {{ ha_server_count }}
  ami           = "{{ ami }}"  
  instance_type = "{{ instance_type }}"
  key_name      = "{{ ssh_key_name }}"

  vpc_security_group_ids = [aws_security_group.k3s_security_group.id]

  user_data = templatefile("../templates/user_data_ha_server.sh.tpl", {
    k3s_token = "{{ k3s_token }}",
    master_ip = "{{ master_ip }}"
  })

  tags = {
    Name = "K3s-HA-Server-${local.cluster_name}-${count.index + 1}"
    ClusterName = local.cluster_name
  }
}
