provider "aws" {
  region     = "{{ aws_region }}"
  access_key = "{{ aws_access_key }}"
  secret_key = "{{ aws_secret_key }}"
}

# Use the cluster_name passed from Python (no need to generate a random string here)
locals {
  cluster_name = "{{ cluster_name }}"
  random_str = "{{ random_str }}"
}

{% if k3s_role == "master" %}
# Master node
resource "aws_instance" "k3s_master" {
  ami                    = "{{ ami }}"
  instance_type          = "{{ instance_type }}"
  key_name               = "{{ ssh_key_name }}"
  vpc_security_group_ids = [aws_security_group.k3s_security_group.id]

  user_data = templatefile("master_user_data.sh.tpl", {
    k3s_token = "{{ k3s_token }}"
  })

  tags = {
    Name        = "K3s-Master-Node-${local.cluster_name}-${random_str}"
    ClusterName = local.cluster_name
  }
}

output "security_group_id" {
  description = "The security group ID"
  value       = aws_security_group.k3s_security_group.id
}

output "cluster_name" {
  description = "The unique cluster name"
  value       = local.cluster_name
}

output "master_ip" {
  description = "The public IP of the master node"
  value       = aws_instance.k3s_master.public_ip
}
{% endif %}

{% if k3s_role == "ha" %}
variable "master_ip" {
  description = "Master node IP"
  type        = string
}

variable "cluster_name" {
  description = "The cluster name for all nodes"
  type        = string
}

variable "security_group_id" {
  description = "The security group of the cluster"
  type        = string
}

# HA nodes
resource "aws_instance" "k3s_ha" {
  ami                    = "{{ ami }}"
  instance_type          = "{{ instance_type }}"
  key_name               = "{{ ssh_key_name }}"
  vpc_security_group_ids = [var.security_group_id]

  user_data = templatefile("ha_user_data.sh.tpl", {
    k3s_token = "{{ k3s_token }}",
    master_ip = var.master_ip
  })

  tags = {
    Name        = "K3s-HA-Server-${var.cluster_name}"
    ClusterName = var.cluster_name
  }
}
{% endif %}

{% if k3s_role == "worker" %}
variable "master_ip" {
  description = "Master node IP"
  type        = string
}

variable "cluster_name" {
  description = "The cluster name for all nodes"
  type        = string
}

variable "security_group_id" {
  description = "The security group of the cluster"
  type        = string
}

# Worker nodes (agents)
resource "aws_instance" "k3s_worker" {
  ami                    = "{{ ami }}"
  instance_type          = "{{ instance_type }}"
  key_name               = "{{ ssh_key_name }}"
  vpc_security_group_ids = [var.security_group_id]

  user_data = templatefile("worker_user_data.sh.tpl", {
    k3s_token = "{{ k3s_token }}",
    master_ip = var.master_ip
  })

  tags = {
    Name = "K3s-Worker-Node-${var.cluster_name}-${random_str}"
    ClusterName = var.cluster_name
  }
}
{% endif %}
