# Provider configuration for AWS
provider "aws" {
  region     = "{{ aws_region }}"
  {% if aws_access_key %}access_key = "{{ aws_access_key }}"{% endif %}
  {% if aws_secret_key %}secret_key = "{{ aws_secret_key }}"{% endif %}
}
