#AWS config example
aws_config = {
    "cloud": "aws",
    "k3s_role": "master",
    "k3s_token": "testtoken",
    "ha": False,
    "instance_type": "t2.small",
    "ssh_key_name": "test",
    "ami": "ami-0c0493bbac867d427",
    "ssh_user": "your_user",
    "ssh_private_key_path": "/path/to/key.pem",
    # "master_ip":"12.13.14.15",
    # "cluster_name":"elastic_mcnulty",
}

# openstack config example
openstack_config = {
    "cloud": "openstack",
    "openstack_image_id": "6f44fc9-49ad-40e7-a4c1-f313fe413ac9",
    "openstack_flavor_id": "m2.small",
    "ssh_key_name": "test",
    "openstack_size": "10", #in GB
    "k3s_token": "testtoken",
    "k3s_role": "master",
    "ha": False,
    "ssh_user": "your_user",
    "ssh_private_key_path": "/path/to/key.pem",
    "network_name": "public_net",
    "network_id": "a1916885-1aa1-4f72-a7dd-b8e36f155bb7",
    # "master_ip":"12.13.14.15",
    # "cluster_name":"elastic_mcnulty"
}

# Edge config sample
edge_config = {
    "cloud": "edge",
    "edge_device_ip": "10.0.0.1",
    "ssh_user": "your_user",
    "ssh_auth_method": "password",  # can be "password" or "key"
    "ssh_password": "your_password",  # only used if ssh_auth_method == "password"
    # "ssh_private_key": "/path/to/key.pem",  # only used if ssh_auth_method == "key"
    "k3s_token": "testtoken",
    "k3s_role": "worker",
    "ha": False,
    # "master_ip": "10.0.0.1",
    # "cluster_name": "elastic_mcnulty", 
  }
