{
  "nodes": [
    {
      "cloud": "openstack",
      "openstack_image_id": "b2be6f4e-ebd8-42af-a526-63691a4d90ea",
      "openstack_flavor_id": "m2.small",
      "ssh_key_name": "test",
      "volume_size": "10",
      "k3s_role": "worker",
      "ha": false,
      "ssh_user": "ubuntu",
      "ssh_private_key_path": "/path/to/key.pem",
      "floating_ip_pool": "ext-net",
      "network_id": "bbe042e4-91a1-4601-962f-14a31e5e2787",
      "use_block_device": true,
      // If existing SG is specified, it will be used directly with no port changes
      "security_group_id": "f05b97f0-140a-4d24-bfc6-3a197e842739",
      // No security_group_id means a new SG will be created and these ports applied as rules
      // These ports will be used ONLY if creating a new SG
      "tcp_ports": [10020],
      "udp_ports": [1003]
    },
    {
      "cloud": "openstack",
      "openstack_image_id": "b2be6f4e-ebd8-42af-a526-63691a4d90ea",
      "openstack_flavor_id": "m2.small",
      "ssh_key_name": "test",
      "volume_size": "10",
      "k3s_role": "worker",
      "ha": false,
      "ssh_user": "ubuntu",
      "ssh_private_key_path": "/path/to/key.pem",
      "floating_ip_pool": "ext-net",
      "network_id": "bbe042e4-91a1-4601-962f-14a31e5e2787",
      "use_block_device": true,
      // If existing SG is specified, it will be used directly with no port changes
      "security_group_id": "f05b97f0-140a-4d24-bfc6-3a197e842739",
      // No security_group_id means a new SG will be created and these ports applied as rules
      // These ports will be used ONLY if creating a new SG
      "tcp_ports": [10020],
      "udp_ports": [1003]
    }
]}